<html>
  <h1>
    Links
  </h1>

  <ul id='links'> <!-- ul = unordered list, ol = ordered list -->
    <% @links.each do |link| %>
      <li> <!-- li = list, this is a child tag to the parent tag -->
        ID: <%= link.id %>
        Title: <%= link.title %>
        Tag: <%= link.tags.map(&:name) %>
        URL: <a href="http://<%= link.url %>"><%= link.url %></a>
      </li>
    <% end %>
  </ul>

  <form action'/tags' method='GET'>
    <label for='search'>
      Search Tags:
      <input type='text' name='search' />
    </label>
    <input type='submit' value='Submit' />
  </form>
</html>
